body{
    /*background-color: blanchedalmond;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /*
    background-image: url(Pics/Fruits02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    */
}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 20px;
    border: 10px solid darkblue;
    padding: 10px;
}

#demo00 {
    margin-left: 15%;
    margin-right: 15%;
}


#nav01 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /*
    position: fixed;
    top: 0;
    left: 33%;
    */
}

#nav02 {
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    background-color: floralwhite;
    border-radius: 35px;
}

.nav03 {float: left;}

.nav03 a {
    display: inline-block;
    padding: 20px 20px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.nav03 a:hover {
    background-color: black;
    color: floralwhite;
    padding: 10px 10px;
    transform: rotate(15deg);
    border-radius: 30px;
}

/*BORDER PATTERN GROOVE BY DEFAULT*/

h3, h4, h5, h6 {color: blueviolet;}

a {color: black; text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

/*a:hover {color: dodgerblue; background-color: none; text-decoration: none;}*/

/*
button {border: 1px solid black; padding: 4px; font-size: large;}
button:hover {background-color: darkgray;}
iframe {display: block; margin-left: auto; margin-right: auto;}
*/

.demo01 {text-decoration: overline;}
#demo02 {font-size: 30px;}
#demo03 {text-align: center;}

fieldset {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px dashed red;
}

.demo03 li{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: transparent;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;

    z-index: -1;
    opacity: 0;

    animation-name: pFade;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.demo03 li:nth-child(1) {
    background-image: url(Pics/Fruits01.jpg);
}

.demo03 li:nth-child(2) {
    background-image: url(Pics/Fruits02.jpg);
    animation-delay: 20s;
}
    
.demo03 li:nth-child(3) {
    background-image: url(Pics/Fruits03.jpg);
    animation-delay: 40s;
}

@keyframes pFade {
    0% {opacity: 0; animation-timing-function: ease-in;}
    8% {opacity: 1; animation-timing-function: ease-out;}
    22% {opacity: 1}
    33% {opacity: 0}
    100% {opacity: 0}
}

#demo04 {text-align: center;}

.demo05 {
    width: 160px;
    height: 120px;
    display: inline;
}

.demo06 {
    width: 160px;
    height: 120px;
    display: block;

    float: left;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

.demo07 {
    width: 160px;
    height: 120px;
    display: block;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

#demo07pic1 {float: left;}
#demo07pic2 {float: right;}
#demo07pic3 {margin: auto;}

.demo08 {
    width: 160px;
    height: 120px;
    display: block;

    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;

    float: left;
    position: absolute;
}
/*relative; absolute; static; fixed; sticky*/