body {
    background-color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Pics/Fruits03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;    
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
}

h1 {
    text-align: center;
    font-size: 100px;
    border: 8px solid rebeccapurple;
    margin: 20px;
    padding: 10px;
}

/*BORDER PATTERN GROOVE BY DEFAULT*/

h3, h4, h5, h6 {color: brown;}

a {color: black; text-decoration: none;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}

.demo01 {text-decoration: overline;}
#demo02 {color: red;}
#demo03 {text-align: center;}

fieldset {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px double rebeccapurple;
}