    /*
    for h1
    margin-left: 20%;
    padding-right: 40%;
    border: 10px solid darkblue;
    border-bottom: 20px double red;
    border-right: 30px groove green;
    border-top: 40px dotted yellow;

    
    */